body {
	background-color: rgb(143, 255, 143);
	font: 22px;
}

.inside_box {
	background-color: rgb(85, 255, 107);
	border-style: double;
	border-width: 5px;
	border-color: black;
}

table, th, tr, td{
	border: 1px solid black;
	text-align: center;
	padding: 10px;
}

